<%if post.image.attached?%>
<div class="group relative">
  <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
    <%= image_tag(url_for(post.image), 
     class: 'h-full w-full object-cover object-center lg:h-full lg:w-full',
     loading: 'lazy',
     alt: post.caption||"Posteo de #{post.profile.username}"
    ) %>
  </div>
  <%=post.product_type%> - <%=post.media%> - <%=post.posted_at.strftime("%d/%m/%Y")%>
</div>
<%end%>
